@charset "utf-8";
/* CSS Document */
<!--Tạo nút về đầu trang-->
#top-up {
background:none;
font-size: 3em;
text-shadow:0px 0px 5px #c0c0c0;
cursor: pointer;
position: fixed;
z-index: 9999;
color:#004993;
bottom: 100px;
right: 15px;
display: none;
}
<!--END-Tạo nút về đầu trang-->

