/*!
 * Start Bootstrap - Shop Homepage (https://startbootstrap.com/template-overviews/shop-homepage)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-shop-homepage/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
footer a:link {
    color: white ;
    background-color: transparent;
    text-decoration: none;
}
footer a:visited {
    color: white ;
    background-color: transparent;
    text-decoration: none;
}

footer a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

h5{
	color: black;
}

h4 a:link{
	color: black;
	background-color: transparent;
    text-decoration: none;
}
h6{
	color: black;
}

.navbar {
	background-color: #A5C4E1;
}
footer{
	background-color:#A5C4E1; 
}

.list-group-item{
	color: black;
}

body{ 
	font: normal 13px/20px Arial, Helvetica, sans-serif; word-wrap:break-word;
	color: #eee;
}
.card-body{
	top: 200px;
}

.search {
	padding-top: 5%;
	
}

.countdown .tiles > span{
	width: 90px;
	max-width: 35px;
	font: bold 20px 'Droid Sans', Arial, sans-serif;
	text-align: center;
	color: red;
	padding: 18px 0;
	display: inline-block;
	position: relative;
	bottom: 15px;

}






