/*!
 * Start Bootstrap - Shop Homepage (https://startbootstrap.com/template-overviews/shop-homepage)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-shop-homepage/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
footer a:link {
    color: white ;
    background-color: transparent;
    text-decoration: none;
}
footer a:visited {
    color: white ;
    background-color: transparent;
    text-decoration: none;
}

footer a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

h5{
	color: black;
}

h4 a:link{
	color: black;
	background-color: transparent;
    text-decoration: none;
}

h6{
	color: black;
}
.search {
	padding-top: 5%;
	
}

.navbar {
	background-color: #A5C4E1;
}
footer{
	background-color:#A5C4E1; 
}

.list-group-item{
	color: black;
}

body{ 
	font: normal 13px/20px Arial, Helvetica, sans-serif; word-wrap:break-word;
	color: #eee;
}
.card-body{
	top: 200px;
}

.card-footer{
	margin-top: 35%;
	width: 30%;
}


.countdown .tiles > span{
	width: 90px;
	max-width: 35px;
	font: bold 20px 'Droid Sans', Arial, sans-serif;
	text-align: center;
	color: red;
	padding: 18px 0;
	display: inline-block;
	position: relative;
	bottom: 15px;

}


.tabs {
	width:100%;
	display:inline-block;
}

/*----- Tab Links -----*/
/* Clearfix */
	.tab-links:after {
	display:block;
	clear:both;
	content:'';
}

.tab-links li {
	margin:0px 5px;
	float:left;
	list-style:none;
}

.tab-links a {
	padding:9px 15px;
	display:inline-block;
	border-radius:3px 3px 0px 0px;
	background:#7FB5DA;
	font-size:16px;
	font-weight:600;
	color:#4c4c4c;
	transition:all linear 0.15s;
}

.tab-links a:hover {
	background:#a7cce5;
	text-decoration:none;
}

li.active a, li.active a:hover {
	background:#fff;
	color:#4c4c4c;
}

/*----- Content of Tabs -----*/
.tab-content {
	padding:15px;
	border-radius:3px;
	box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
	background:#fff;
}

.tab {
	display:none;
}

.tab.active {
	display:block;
}








