div.stars {
  width: 150px;
  display: inline-block;
}
 
input.star { display: none; }
 
label.star {
  float: right;
  padding: 5px;
  font-size: 20px;
  color: black;
  transition: all .2s;
}
 
input.star:checked ~ label.star:before {
  content: '\f005';
  color: black;
  transition: all .25s;
}
 
input.star-5:checked ~ label.star:before {
  color: black;
  text-shadow: 0 0 20px #952;
}
 
input.star-1:checked ~ label.star:before { color: black; }
 
label.star:hover { transform: rotate(-15deg) scale(1.3); }
 
label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}