.input-group{
  overflow: hidden;
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
}
.input-group input#search{
  width: 300px;
  height: 50px;
  background: white;
  border: none;
  font-size: 10pt;
  float: left;
  color: #fff;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.input-group input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.input-group input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.input-group input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.input-group input#search:-ms-input-placeholder {  
   color: #65737e;  
}
.input-group button.icon{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
 
  border: none;
  background: #232833;
  height: 50px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;
 
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}
.input-group:hover button.icon, .input-group:active button.icon, .input-group:focus button.icon{
    outline: none;
    opacity: 1;
    margin-left: -50px;
  }
 
.input-group:hover button.icon:hover{
    background: white;
  }